body {
	background-color: #EEEEEE;
}

footer,
#header {
	clear: both;
	background-color: #2565A4;
	color: #FFFFFF;
}

#view-frame {
	background-color: #FFFFFF;
}

#btn-profile,
#btn-logout,
#btn-admin,
#btn-user,
.profile-container {
	display: none;
}

#menu-options {
	float: right;
}